.footer {
  &_inner {
    padding: 66px 25px 29px 30px;
    &_one {
      width: 100%;
      max-width: 372px;
      &_desc {
        margin-top: 20px;
        margin-bottom: 25px;
      }
    }
    &_three {
      width: 100%;
      width: 282px;
    }
  }
  &_bootom_text {
    font-size: 13px;
  }
}
@media only screen and (max-width: 991px) {
  .footer {
    padding: 30px 0;
  }
}
